<section id="home">
    <div class="grid">
      <div class="item span-5" id="first-column">
        <h1 class="home-title">Bem vindo(a) ao sistema!</h1>
        <div class="img-home">
          <img src="../../../../assets/img/colaboradoras.jpg" alt="" />
        </div>
      </div>
      <div class="item span-2">
        <div class="link-container">
          <H4 class="link-container-title">Usuário</H4>
          <a class="link" [routerLink]="['/usuario']">Lista de usuários</a>
          <a class="link" [routerLink]="['/usuario/cadastro']">Cadastrar usuário</a>
          <a class="link" [routerLink]="['/not-found']">Not found</a>
        </div>
        <div class="link-container">
          <H4 class="link-container-title">Gerenciamento</H4>
          <a class="link">Exemplo Página</a>
          <a class="link">Exemplo Página</a>
          <a class="link">Exemplo Página</a>
          <a class="link">Exemplo Página</a>
        </div>
      </div>

    </div>
  </section>
  