:host { 
    .header-cadastro{
        background-color: white;
        padding: 1rem 2rem;
        display: flex;
        .title{
            font-size: 2rem;
            line-height: 2.5rem;
            font-weight: 500;
        }
    }
    .section-form {
        margin: 1.5rem;
        padding: 1.5rem;
        display: flex;
        background-color: white;
        form {
            flex-direction: column;
            .form-field{
                margin-bottom: 1.5rem;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    :host {
        .header-cadastro{
            background-color: white;
            padding: .5rem 1.75rem;
            display: flex;
            .title{
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
  }