:host { 
    .header-cadastro{
        background-color: white;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        .title{
            font-size: 2rem;
            line-height: 2.5rem;
            font-weight: 500;
            // padding-left: 1.25rem;
        }
    }
    .section-form {
        margin: 1.5rem;
        padding: 1.5rem;
        display: flex;
        background-color: white;
        form {
            width: 50%;
            display: flex;
            background-color: white;
            flex-direction: column;
            .form-field{
                margin-top: 1rem;
                width: 100%;
            }
        }
    }
}