$yellow-palette: (
  50: #fdf6e6,
  100: #f9e7bf,
  200: #f6d895,
  300: #f2c86b,
  400: #efbc4b,
  500: #ecb02b,
  600: #eaa926,
  700: #e7a020,
  800: #e4971a,
  900: #df8710,
  A100: #ffffff,
  A200: #ffedd9,
  A400: #ffd6a6,
  A700: #ffca8c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$green-palette: (
  50: #e0f0e8,
  100: #b3dac6,
  200: #80c2a1,
  300: #4daa7b,
  400: #26975e,
  500: #008542,
  600: #007d3c,
  700: #007233,
  800: #00682b,
  900: #00551d,
  A100: #87ffa5,
  A200: #54ff7e,
  A400: #21ff58,
  A700: #08ff45,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$ocean-palette: (
  50: #e1e1e5,
  100: #b4b5bd,
  200: #828492,
  300: #4f5366,
  400: #2a2e45,
  500: #040924,
  600: #030820,
  700: #03061b,
  800: #020516,
  900: #01020d,
  A100: #5151ff,
  A200: #1e1eff,
  A400: #0000ea,
  A700: #0000d0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
