/* You can add global styles to this file, and also import other style files */
@import './assets/styles/main.scss';
@import 'material-icons/iconfont/material-icons.scss';

mat-icon {
  font-family: 'Material Icons' !important;
}

// Para definir a paleta principal vá em './assets/styles/theme.scss';

.icon {
  width: 1rem;
  height: 1rem;
}