$z-index-sidenav: 400;
$z-index-user-profile-hidden: -100;
$z-index-user-profile-show: 450;
$z-index-modal: 500;
$z-index-alert: 550;
$z-index-float-container: 700;
$z-index-loading-overlay: 800;
$z-index-toast: 900;
